{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://use.typekit.net/bvl3cit.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <meta charset="utf-8">
    <title>Task Tiger</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' type='text/css'>
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat:400,700' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>    <script src="{% static 'js/jquery-2.2.3.js' %}"></script>
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>



  </head>

  <body>
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=259468097756069";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>


    <section id="navigation">
            <ul class="nav navbar-nav pull-right" id="profilemenu">
              {% if user and not user.is_anonymous %}
              <li class="nav-item dropdown btn-group">
                  <button class="btn btn-primary btn-rounded dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{% if user.profile %} {{ user.profile.avatar }} {% else %} {% static 'img/avatar.png' %} {% endif %}" class="img-circle" height="22" width="22">&nbsp;
                    {{ user.get_full_name|default:user.username }} <span class="caret"></span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <a class="dropdown-item" href="{% url 'create_gig' %}">Create Gig</a>
                      <a class="dropdown-item" href="{% url 'my_gigs' %}">My Gigs</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'my_orders' %}">My Orders</a>
                      <a class="dropdown-item" href="{% url 'my_sales' %}">My Sales</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'profile' user.username %}">My Profile</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'auth:logout' %}?next={{request.path}}">Logout</a>
                  </div>
              </li>
              {% else %}
                <li class="nav-item pull-xs-right noml">
                    <button type="button" class="btn btn-primary btn-rounded" id="loginbtn" data-toggle="modal" data-target="#modal-login"><i class="fa fa-sign-in"></i> Login</button>
                  </a>
                </li>

                <!-- Modal Register -->
                <div class="modal fade modal-ext" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <!--Content-->
                        <div class="modal-content">
                            <!--Header-->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h3><i class="fa fa-user"></i> Login with:</h3>
                                <a href="{% url 'social:begin' 'facebook' %}?next={{request.path}}" class="btn-floating btn-fb btn-small"><i class="fa fa-facebook"></i></a>
                                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{request.path}}" class="btn-floating btn-gplus btn-small"><i class="fa fa-google-plus"></i></a>
                                <a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{request.path}}" class="btn-floating btn-li btn-small"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <!--Body-->
                            <div class="modal-body">
                              <p class="card-text">No need to waste time filling in forms. Sign up via your Facebook or Google account.</p>
                            </div>
                        </div>
                        <!--/.Content-->
                    </div>
                </div>
              {% endif %}
            </ul>
          </div>
              <!--/.Collapse content-->

          </div>
      </nav>
      </div>
      </section>

    <section id="body">
        {% block page %}

        {% endblock %}
    </section>


    <footer id="footer">
      <!--Footer-->
      <footer class="page-footer blue center-on-small-only">

          <!--Footer Links-->
          <div class="container-fluid">
              <div class="row">

                  <!--First column-->
                  <div class="col-md-4">
                      <h5 class="title">Footer Content</h5>
                      <p>Here you can use rows and columns here to organize your footer content.</p>
                  </div>
                  <!--/.First column-->

                  <!--Second column-->
                  <div class="col-md-4">
                      <h5 class="title">Links</h5>
                      <ul>
                          <li><a href="#!">Link 1</a></li>
                          <li><a href="#!">Link 2</a></li>
                          <li><a href="#!">Link 3</a></li>
                          <li><a href="#!">Link 4</a></li>
                      </ul>
                  </div>
                  <!--/.Second column-->
                  <div class="col-md-4">
                      <h5 class="title">Links</h5>
                      <ul>
                          <li><a href="#!">Link 1</a></li>
                          <li><a href="#!">Link 2</a></li>
                          <li><a href="#!">Link 3</a></li>
                          <li><a href="#!">Link 4</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <!--/.Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
              <span>Sixerr App &copy; 2016 by <a href="http://www.studiointhecloud.co.uk"> Studio in the Cloud </a></span>
            </div>
        </div>
        <!--/.Copyright-->

        <!--/.Footer-->
        <script src="{% static 'js/tether.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/mdb.js' %}"></script>
        <script src="{% static 'js/vendor.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/particles.js' %}"></script>
    </footer>

  </body>
</html>
