{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}

  <div class="row">
    <div class="col-md-12">
      <img src="{% static 'img/banner.gif' %}" alt="Sixerr Banner" class="banner">
    </div>

    {% for gig in gigs %}
      <div class="col-md-3">
        <!--Card-->
        <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
                <img src="/media/{{ gig.photo }}" class="img-fluid">
                <a href="{% url 'gig_detail' gig.id %}">
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
                <!--Text-->
                <p class="card-text"><a href="{% url 'gig_detail' gig.id %}">{{ gig.title }}</a></p>
                <p><b class="greentext pull-right">£{{ gig.price }}</b></p>
                <span>by <a href="{% url 'profile' gig.user.username %}">{{ gig.user.username }}</span></a>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
      </div>
    {% endfor %}

{% endblock %}
