{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}
<div class="row">
  <div class="col-md-12" id="hero">
    <div id="herologo" align="center" style="margin-top: 300px;">
      <img src="{% static 'img/tiger-logo.png' %}" alt="Task Tiger" height="100"/>
    </div>
    <h1 id="herotitle">Welcome to Task<span class="orangetext">Tiger</span></h1>
    <p id="herosub">A place to get your chores done for less than £10</p>

  </div>
</div>


<div class="container">
  <div class="row">
    {% for gig in gigs %}
      <div class="col-md-3">
        <!--Card-->
        <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
                <img src="/media/{{ gig.photo }}" class="img-fluid">
                <a href="{% url 'gig_detail' gig.id %}">
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
                <!--Text-->
                <p class="card-text"><a href="{% url 'gig_detail' gig.id %}">{{ gig.title }}</a></p>
                <p><b class="greentext pull-right">£{{ gig.price }}</b></p>
                <span>by <a href="{% url 'profile' gig.user.username %}">{{ gig.user.username }}</span></a>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
