{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <div class="jumbotron" align="center">
        <h1 class="h1-responsive">{{ profile.user.username }}</h1>
        {% if request.user == profile.user %}
          <input name="slogan" value="{{ profile.slogan }}" class="form-control">
        {% else %}
          <p class="lead">{{ profile.slogan }}</p>
        {% endif %}

    </div>
    <div class="row">
      <div class="col-md-3" align="center">
        <div class="jumbotron">
            <h4 class="text-uppercase">About {{ profile.user.username }}</h4>
            <img src="{{ profile.avatar }}" class="img-circle" height="120" width="120">
            <hr class="m-y-2">
            {% if request.user == profile.user %}
              <textarea rows="4" name="about" class="form-control" style="min-height: 175px;">{{ profile.about }}</textarea>
              <button type="submit" class="btn btn-success">Update Profile</button>
            {% else %}
              <p class="lead">{{ profile.about }}</p>
            {% endif %}
        </div>
      </div>
      <div class="col-md-9">
        <h3 class="text-uppercase"><b>{{ profile.user.username }}'s gigs</b></h3>
        <div class="row">
          {% for gig in gigs %}
            <div class="col-md-3">
              <!--Card-->
              <div class="card">
                  <!--Card image-->
                  <div class="view overlay hm-white-slight">
                      <img src="/media/{{ gig.photo }}" class="img-fluid">
                      <a href="{% url 'gig_detail' gig.id %}">
                          <div class="mask"></div>
                      </a>
                  </div>
                  <!--/.Card image-->

                  <!--Card content-->
                  <div class="card-block">
                      <!--Text-->
                      <p class="card-text"><a href="{% url 'gig_detail' gig.id %}">{{ gig.title }}</a></p>
                      <p><b class="greentext pull-right">£{{ gig.price }}</b></p>
                      <span>by <a href="{% url 'profile' gig.user.username %}">{{ gig.user.username }}</span></a>
                  </div>
                  <!--/.Card content-->
              </div>
              <!--/.Card-->
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </form>

  <div class="card">
      <h6 class="card-header primary-color white-text">All reviews for {{ profile.user.username }}</h6>
      <div class="card-block">
        {% if reviews %}
          {% for review in reviews %}
            <div class="media">
              <a class="media-left waves-light">
                  <img class="img-circle" src="{% if review.user.profile %} {{ review.user.profile.avatar }} {% else %} {% static 'img/avatar.png' %} {% endif %}" style="max-width: 70px;">
              </a>
              <div class="media-body">
                  <h4 class="media-heading">{{ review.user.username }}</h4>
                  <ul class="inline-ul">
                      <li><i class="fa fa-star {% if review.star >= '1' %} amber-text {% endif %}"></i></li>
                      <li><i class="fa fa-star {% if review.star >= '2' %} amber-text {% endif %}"></i></li>
                      <li><i class="fa fa-star {% if review.star >= '3' %} amber-text {% endif %}"></i></li>
                      <li><i class="fa fa-star {% if review.star >= '4' %} amber-text {% endif %}"></i></li>
                      <li><i class="fa fa-star {% if review.star >= '5' %} amber-text {% endif %}"></i></li>
                  </ul>
                  <p>{{ review.content }}</p>
                  <small>Review for task: {{ review.gig.title }}</small>
              </div>
            </div>
          {% endfor %}

        {% else %}
          No reviews
        {% endif %}
      </div>
  </div>



  {{ form }}
</div>
{% endblock %}
